* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.container {
    height: 100%;
    clear: both;
    font-weight: 300;
}

aside {
    background-color: #251e6d;
    color: #fff;
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
}

main {
    background-image: url('img/main-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2 {
    text-align: center;
    margin: 60px 20px 20px;
    padding: 5px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-shadow: 0 1px 3px #d4d4d4;
}

aside p {
    padding: 0 20px;
    font-weight: 300;
}

aside p:first-of-type {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

main > span:last-of-type {
    display: block;
    width: 75%;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    color: #fff;
    text-align: center;
}

.well {
    display: flex;
    width: 600px;
    height: 440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff9fd;
    box-shadow: 2px 1px 10px 3px #555;
    position: relative;
}

#country-img {
    display: block;
    margin: 0 auto 30px;
    padding: 5px;
    border: 1px solid #555;
}

h3 {
    font-weight: 500;
    margin-bottom: 15px;
}

form {
    text-align: center;
}

input {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px auto;
    padding: 4px 8px;
    border-radius: 3px;
    width: 200px;
}

.btn {
    font-family: 'Ubuntu', sans-serif;
    padding: 6px 15px;
    background-color: transparent;
    color: #1813ab;
    border: 2px solid #1813ab;
    margin-top: 8px;
    transition: color 0.3s, background-color 0.3s;
}

.btn:hover {
    background-color: #1813ab;
    color: #fff;
}


.box {
    width: 400px;
    height: 340px;
    position: absolute;
    top: 50%;
    margin-top: -170px;
    z-index: 100;
    background-color: #fff9fd;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #999;
}

.box-content {
    width: 300px;
    height: 190px;
    margin: 50px auto 0;
}

img.true-false {
    display: block;
    margin: 0 auto 30px;
}

#again-btn, #continue-btn {
 display: none;
 width: 100px;
 margin: 10px auto 0;
}

.alert {
    border: 1px solid red;
    color: red;
}


/**********************************
****       Media Queries       ***/

@media screen and (max-width: 992px) {
    aside {
        width: 100%;
        height: 350px;
    }

    aside p {
        width: 70%;
        margin: 0 auto;
    }

    main {
        width: 100%;
    }

    main > span:last-of-type {
        width: 100%;
        bottom: -345px;
    }
}

@media screen and (max-width: 768px) {
    aside {

        height: 400px;
    }

    aside p {
        width: 75%;
    }

    main > span:last-of-type {
        bottom: -395px;
    }

    .well {
        width: 80%;
        height: 440px;
    }

    .box {
        width: 380px;
    }
}

@media screen and (max-width: 480px) {
    aside {
        height: 430px;
    }

    aside p {
        width: 80%;
    }

    main > span:last-of-type {
        bottom: -425px;
    }

    .well {
        width: 90%;
    }

    h3 {
        font-size: 18px;
    }

}